/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url(http://fonts.googleapis.com/css?family=Lato);

/*** **********************************************************/
/*** **********************************************************/
/* Images */
.imgDropShadow {
  -webkit-filter: drop-shadow(0px 2px 1px #222);
  filter: drop-shadow(0px 2px 1px #222);
}

img.offense {
 	width: 40px;
 	height: 26px;	
 	vertical-align: baseline;
}
img.defense {
	width: 30px;
	height: 28px;	
 	vertical-align: baseline;
}
img.tank {
	width: 30px;
	height: 28px;	
 	vertical-align: baseline;
}
img.support {
	width: 30px;
	height: 28px;	
 	vertical-align: baseline;
}
img.imgSizeSmall {
	width: 172px;
	height: 24px;
}
img.tonyMarks_logo {
	width: 63px;
	height: 24px;
}

/*** **********************************************************/
/*** **********************************************************/
/* Body */

#loggedInWelcome {
	padding: 15px 15px 0px 15px;
	color: 	#826644;
}

#navbar-top-left {
	background-image: url(../img/index.png);
}

.navBarActive {
	background-color: #ddd;
}
.activeColor {
	color: #29354f;
}
.background_Tony_Marks_Color {
	background-color: #EDE7D7;
}

.alignCenter {
	text-align: center;
}
.verticalAlign-middle {
	vertical-align: middle;
}

.padding-top-0 {
	padding-top: 0px;
}
.padding-top-60 {
	padding-top: 60px;
}

.padding-left-right-0
{
	padding-left: 0px;
	padding-right: 0px;
}

/*** **********************************************************/
/*** **********************************************************/

/** ***** Login page CSS ***** */
#loginPage-container {
	padding: 15px 15px 15px 15px;
	background-image: url(../img/login_bg.jpg);
	background-repeat: no-repeat;
    background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    width: 100%;
    min-height: 968px;
}
#loginContainer_outer {
	margin-top: 10%;
	padding: 15px 15px 15px 15px;
	border-radius: 15px;
	background-color: rgba(237,231,215, 0.5);
}
#loginContainer_inner {
	padding: 15px 15px 15px 15px;
}
#loginContainer_header {
	text-align: center;
	padding: 15px 15px 15px 15px;

}
#loginContainer_body {
	margin-top: 50px;
	padding: 15px 15px 15px 15px;
	width: 60%;
}

/*** **********************************************************/
/*** **********************************************************/

/******* Navigation *******/
.backgroundNav {
	/*background-image: url(../img/index.png);*/
	background-color: rgba(215, 204, 200,0.6);
}
.tonymarks_logo {
	background-image: url(../img/logo.png);
}
.trans02s {
	transition: all 0.2s ease-in-out;
}

.ulNav {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.ulList {
    float: right;
    font-family: 'Montserrat', sans-serif;
}

.navimg{
	float: left;
	padding-left: 2.5%;
	padding-top: 0.130%;
}
.ulNav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.ulNav li a:hover:not(.active) {
    background-color: #111;
}

.test {
	background-color: black;
}

/*** **********************************************************/
/*** **********************************************************/

/****** Actions Navigations **************/

#otherActionNav
{
	font-family: 'Montserrat', sans-serif;
	color: 	#826644;
	background-color: rgba(215, 204, 200,0.6);
	margin-top: 15px;
	margin-right: 15px;
	border-radius: 10px;
	padding: 15px;
}


/************* End of Actions Navigations ***************/

/*** **********************************************************/
/*** **********************************************************/

/*********** ******** Index Content *****************/

#indexContent{
	padding-right: 15px;
}

#indexAddContent {
	padding-right: 15px;
}

#indexEditContent {
	padding-right: 15px;
}

#indexViewContent {
	padding-right: 15px;
}

#otherActionNav ul li a{
	background-color: rgba(72, 60, 50,0.8);
	color: rgba(239, 235, 233,1.0);
	margin-bottom: 5px;
	margin-right: 3px;
}
#otherActionNav ul li a:hover {
	background-color: #D9853B;
	transition: all 0.2s ease-in-out;
}

/*** **********************************************************/
/*** **********************************************************/

/****** SIDE BAR CUSTOMISATION *******/

#sideBar_Nav
{
    width:100%;
    overflow:hidden;
    display:inline-block;
}
.side-bar
{
    background-color: rgba(72, 60, 50,0.9);
    position:absolute;
    height:100%;
    width:200px;
    color:#fff;
    transition: margin-left 0.5s;
}

.side-bar ul
{
    list-style:none;
    padding:0px;
    
}

.side-bar ul li.menu-head
{
    font-family: 'Montserrat', sans-serif;
    padding: 25px 20px 25px 25px;
}


.side-bar ul li.menu-head a
{
    color:#fff;
    text-decoration:none;
    height:50px;
}


.side-bar ul .menu-head  a
{
    color:#fff;
    text-decoration:none;
    height:50px;
}

.side-bar ul .menu li  a 
{
    color:#fff;
    text-decoration:none;
    display:inline-table;
    width:100%;
	padding: 10px 20px 10px 25px;
}

.side-bar ul .menu li:hover
{  
    padding-left:5px;
	background-color: #D9853B;
	transition: all 0.2s ease-in-out;
}

.side-bar ul .menu li  a.active
{
    padding-left:17px;
    background:#D9853B;
    border-left:3px solid #ECECEA;
}

.side-bar ul .menu li  a.active:before {
	content:"";
	position: absolute;
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;

	border-left: 7px solid #D9853B;
	margin-top: -10px;
	margin-left: 180px;
}

.content
{
    padding-left: 200px;
    transition: padding-left 0.5s;
}

.active > .side-bar
{
    margin-left:-135px;   
    transition: margin-left 0.5s;
}

.active > .content
{
    padding-left: 65px;
    transition: padding-left 0.5s;
}

.sideBarFont
{
	font-size: 10px;
}

.padding-left-50px
{
	
	padding-left: 50px;
}

/*** ********* END SIDE BAR CUSTOMISATION *************/

/*** **********************************************************/
/*** **********************************************************/

/* BUTTON CUSTOMISATION */
.btnLogin {
	font-family: 'Roboto', sans-serif;
	background-color: rgba(41, 10, 10, 0.7);
    border: none;
    color: #ffffff;
	font-weight: 400;
    padding: 0.5% 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
    margin: 0.5% 0.25%;
    cursor: pointer;
}

.btnLogin span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.btnLogin:hover {
	color: #ffffff;
	background-color: rgba(41, 10, 10, 1);
}
.btnLogin span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -10px;
  transition: 0.5s;
}

.btnLogin:hover span {
  padding-right: 25px;
}

.btnLogin:hover span:after {
  opacity: 1;
  right: 0;
}

.btnLogin:active {
  transform: translateY(4px);
	color: #ffffff;
  background-color: rgba(82, 20, 20, 0.8);
}
.logoutButton {
	background-color: #D9853B;
	border-radius: 2px;
	color: rgba(239, 235, 233,1.0);
}
/*** **********************************************************/
/*** **********************************************************/
/*** **********************************************************/

/* FONT CUSTOMISATION */
.navFont {
	font-family: 'Montserrat', sans-serif;
	color: 	#826644;
}
.montserratFont {
	font-family: 'Montserrat', sans-serif;
	color: white;
}
.myriadProFont {
	font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;	
}
.font-itallics {
	font-style: italic;
}
.fontColor-White {
	color: white;
}
.font-normal {
	font-weight: normal;
}
.font-bold {
	font-weight: bold;
}
.font-color-white {
	color: white;
}
.fontDropShadow {
  -webkit-filter: drop-shadow(0px 2px 1px #222);
  filter: drop-shadow(0px 2px 1px #222);
}
.text-align-center {
	text-align: center;
}
.text-align-right {
	text-align: "right";
}

/*** **********************************************************/
/*** **********************************************************/
/* H1 Properties customization */
h1.paddingLeft {
	padding-left: 2.5%;
}

/*** **********************************************************/
/*** **********************************************************/
/********* Background images *********/


/********* Background videos *********/
/****************************************************/
.video-container {
	margin: auto;
    width: 100%;
    position: relative;
    padding: 0 2.5% 2.5% 2.5%;
}
video {
	display: block;
}

.top-margin15px {
	margin-top: 15px;
}
.top-padding15px {
	padding-top: 15px
}
.padding-15px {
	padding: 15px 0px;
}
.bottom-padding10 {
	padding-bottom: 7%;
}
.top-margin50 {
	margin-top: 50px;
}
.top-margin25percent {
	margin-top: 10%;
}
.min-height1024 {
	min-height: 1024px;
}
.video-wrapper, .skill-container, .img-scale-fit {
	width: 100%;
}
.character_bgVid {
/*	position: absolute;*/
/*	top: 0;*/
/*	opacity: 0.5;*/
/*	min-width: 100%;
	min-height: 100%; */
/*	left: 0;*/
	width: 100%;
	height: auto;
/*	z-index: -1;*/
}

.bg-test-red {
	background-color: rgba(200,0,0,0.3);
}
.bg-test-blue {
	background-color: rgba(0,0,200,0.3);
}
.bg-test-green {
	background-color: rgba(0,200,0,0.3);
}
.bg-test-black {
	background-color: rgba(0,0,0,0.80);
}
.hero-gameRole{
	margin: 0;
    padding-bottom: 0.67em;
}

/*** **********************************************************/
/*** **********************************************************/

/** Maps & Developers Page **/
.thumbnailImg-white {
	background-color: rgba(200, 200, 200, 0.7);
}

.caption{
	min-height:230px;
}

#photo-gallery-row1, #photo-gallery-row2, #photo-gallery-row3, #photo-gallery-row4
{
	min-height:210px;
}

#photo-gallery-container img {
	max-height:200px;
	max-width:100%;
}

/*** **********************************************************/
/*** **********************************************************/
/** ***** ERROR MESSAGE HANDLING ****** **/
div.message {
    text-align: center;
    cursor: pointer;
    display: block;
    font-weight: normal;
	font-family: 'Roboto', sans-serif;
    padding: 0 1.5rem 0 1.5rem;
    transition: height 300ms ease-out 0s;
    background-color: #a0d3e8;
    color: #626262;
    top: 15px;
    right: 15px;
    z-index: 999;
    overflow: hidden;
    height: 50px;
    line-height: 2.5em;
    box-radius: 5px;
}

div.message:before {
    line-height: 0px;
    font-size: 20px;
    height: 12px;
    width: 12px;
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    left: -11px;
    background-color: #FFF;
    padding: 12px 14px 12px 10px;
    content: "i";
    color: #a0d3e8;
}

div.message.error {
    background-color: rgba(195,35,45,0.7);
	border-radius: 15px;
    color: #FFF;
}

div.message.error:before {
    padding: 11px 16px 14px 7px;
    color: #C3232D;
    content: "x";
}
div.message.hidden {
    height: 0;
}

/** PAgination customisation **/

/** Preloader-Design **/
#loader-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10000;
}
#loader {
	display: block;
	position: relative;
	left: 50%;
	top: 50%;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #3498db;

	-webkit-animation: spin 1.5s infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 1.5s infinite;
}

	#loader:before {
		content: "";
		position: absolute;
		top: 5px;
		left: 5px;
		right: 5px;
		bottom: 5px;
		border-radius: 50%;
		border: 3px solid transparent;
		border: 3px solid #e74c3c;

		-webkit-animation: spin 1.5s infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 1.5s infinite;
	}
	#loader:after {
		content: "";
		position: absolute;
		top: 15px;
		left: 15px;
		right: 15px;
		bottom: 15px;
		border-radius: 50%;
		border: 3px solid transparent;
		border: 3px solid #f9c922;

		-webkit-animation: spin 1.5s infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 1.5s infinite;
	}

	@-webkit-keyframes spin {
		0%   { 
			-webkit-transform: rotate(0deg);  
			-ms-transform: rotate(0deg);  /* IE 9 */
			transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
		}
		100% { 
			-webkit-transform: rotate(360deg);  
				-ms-transform: rotate(360deg);  /* IE 9 */
				transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
		}
	}
	@keyframes spin {
		0%   { 
			-webkit-transform: rotate(0deg);  
			-ms-transform: rotate(0deg);  /* IE 9 */
			transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
		}
		100% { 
			-webkit-transform: rotate(360deg);  
				-ms-transform: rotate(360deg);  /* IE 9 */
				transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
		}
}